.video_gal_part {
  margin-top: 2%;
  .main-wrapper {
    h4{
      padding: 0 4%;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    .row {
      padding: 0 3%;
      .col-md-3 {
        padding-right: 4px;
        padding-left: 4px;
      }
      
    }
  }
}
