@import "./../../../../theme/mixins/_mixins";
@import "./../../../../theme/pages/purchase";
@import "./../../../../theme/pages/purchase-three";
.img-center {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 30%;
}

.log-reg {
  .purchase-cnt {
    max-width: 1090px;
  }
}
