<ion-content>

  <div class="container mt-5">
    <div class="popup-header d-flex flex-row align-items-center justify-content-between m-1">
      <span></span>
      <span class="fs-1 font-weight-bold">Sign In</span>
      <span>
        <ion-icon name="close" class="fs-1 font-weight-bold"></ion-icon>
      </span>
    </div>
  </div>

  <div class="my-container mt-3">
    <p class="fs-2 font-weight-normal">Join gootweet with google in just one click</p>
    <div class="d-flex flex-row justify-content-center mt-3 mb-2 w-100">
      <button
        class="signin-button bg-primary d-flex flex-row align-items-center justify-content-center w-100 text-white">
        <ion-icon name="logo-google" class="mr-1 "></ion-icon>
        Sign In with Google
      </button>

    </div>
    <div class=" d-flex flex-row align-items-center justify-content-between mt-3">
      <span class="divider"></span>
      <span class="fs-1 font-weight-bold text-muted">Or continue with</span>
      <span class="divider"></span>
    </div>


    <!-- Social Media Buttons HTML -->
    <div class="wrapper mt-3">
      <a href="#" class="icon ">
        <ion-icon name="logo-apple"></ion-icon>
      </a>
      <a href="#" class="icon ">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="#" class="icon ">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <a href="#" class="icon bg-secondary text-white">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </a>

    </div>
    <!-- End Social Media Buttons HTML -->

    <div class="privecy-policy mt-4">
      <p class="fs-4 font-weight-normal text-muted text-justify">By registering a gootweet account, you agree that,
        you have read all of our <span class="text-primary fs-3">Gootweet free membership aggrements</span> and
        <span class="text-primary fs-3">Privacy policy</span>
      </p>
    </div>
  </div>
</ion-content>