<!-- <ion-header>
  <ion-toolbar>
    <ion-title>product-review</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="my_container">
    <div
      style="background-image: url('https://images.unsplash.com/photo-1523380677598-64d85d015339?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdGhpbmclMjBicmFuZHxlbnwwfHwwfHw%3D&w=1000&q=80')"
      class="review-image">
      <div class="img-badge">
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="3" class="badge-item">2/8</ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="2.5" class="badge-item">
                <ion-icon name="caret-forward"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col></ion-col>
              <ion-col class="badge-item">
                <ion-icon name="heart-outline"></ion-icon>
                <span style="padding-left: 4px">2.6k</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-row class="user-bonus">
      <ion-col>New User BONUS</ion-col>
    </ion-row>
    <div class="sized-box"></div>

    <div class="container">
      <ion-row>
        <ion-col>
          <span class="new-price">€ 0.95</span>
          <span class="main-price">€ 320.95</span>
          <span class="discount">-99%</span>
        </ion-col>
      </ion-row>
      <div class="sized-box"></div>
      <ion-row>
        <ion-col class="regular-text">Laxury plating clear magnatic for magsafe wireless 2.69 and other
          text for showing the product description</ion-col>
      </ion-row>
      <div class="sized-box"></div>
      <ion-row class="rating-alignment">
        <ion-col>
          <span class="new-price">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </span>
          <span class="discount">4.9</span>
          <span class="discount">2240 order</span>
        </ion-col>
      </ion-row>

      <div class="hr"></div>
      <div class="sized-box"></div>
      <div class="sized-box"></div>

      <ion-row>
        <ion-col size="10">
          <ion-row>
            <ion-col class="medioum-text">4 Color</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2" class="justify-align-center">
          <ion-row>
            <ion-col></ion-col>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="product-color-sec">
        <div>
          <img src="assets/dummy_image/earphone.jfif" height="70" width="70" class="product-by-colors" />
        </div>
        <div>
          <img src="assets/dummy_image/earphone.jfif" height="70" width="70" class="product-by-colors" />
        </div>
        <div>
          <img src="assets/dummy_image/earphone.jfif" height="70" width="70" class="product-by-colors" />
        </div>
        <div>
          <img src="assets/dummy_image/earphone.jfif" height="70" width="70" class="product-by-colors" />
        </div>
      </ion-row>
      <div class="sized-box"></div>
      <div class="sized-box"></div>

      <ion-row>
        <ion-col size="10">
          <ion-row>
            <span class="medioum-text">Specifications</span>
          </ion-row>
        </ion-col>
        <ion-col size="2" class="justify-align-center">
          <ion-row>
            <ion-col></ion-col>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <div class="sized-box"></div>
    <div class="hr" style="height: 10px"></div>
    <div class="sized-box"></div>

    <div class="container">
      <ion-row>
        <ion-col size="9">
          <ion-row class="medioum-text"> Discounts & Coupones </ion-row>
          <div class="sized-box"></div>
          <ion-row>
            <ion-col size="10" class="coupon red-text">
              € 100 off <br />
              Store Coupon
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col></ion-col>
            <button type="button" class="get-button">
              Get <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
      <div class="sized-box"></div>

      <ion-row>
        <ion-col size="7">
          <ion-row class="medioum-text"> Delevery </ion-row>
        </ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-col class="justify-align-center">
              <ion-icon name="location-outline"></ion-icon>
              <span class="pl-1">To Lithunia</span>
              <ion-icon name="chevron-forward-outline" class="pl-1"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div class="sized-box"></div>
      <ion-row>
        <ion-col>
          <ion-row class="medioum-text">Shiping : € 2.5</ion-row>
          <ion-row class="regular-text">Estimated delevery on 9 september</ion-row>
          <ion-row class="regular-text">Estimated delevery on 29 octobar for order over € 9,000, Conbined
            Delevery
          </ion-row>
        </ion-col>
      </ion-row>

      <div class="sized-box"></div>
      <div class="hr"></div>
      <div class="sized-box"></div>

      <ion-row>
        <ion-col size="10">
          <ion-row>
            <span class="medioum-text">Service</span>
            <span class="pl-4 regular-text"> 90day buyer protection</span>
          </ion-row>
        </ion-col>
        <ion-col size="2" class="justify-align-center">
          <ion-row>
            <ion-col></ion-col>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>

    <div class="sized-box"></div>
    <div class="hr" style="height: 10px"></div>
    <div class="sized-box"></div>

    <div class="container">
      <ion-row>
        <ion-col>
          <ion-row>
            <span class="medioum-text">Review (529)</span>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row class="rating-alignment">
            <ion-col></ion-col>
            <span class="new-price">
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </span>
            <span class="discount">4.9</span>
            <ion-icon name="chevron-forward-outline" class="pl-3"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <div class="sized-box"></div>

    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>

    <ion-row class="footer">
      <ion-col size="4">
        <ion-row>
          <ion-col></ion-col>
          <ion-col class="footer-option">
            <ion-icon name="home-outline"></ion-icon>
            <span>Store</span>
          </ion-col>
          <ion-col></ion-col>
          <ion-col class="footer-option">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <span>Chat</span>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="8">
        <ion-row class="footer-buttons">
          <button type="button" class="add-to-card-button">Į krepšelį</button>
          <button (click)="gotoPaymentMethod()" type="button" class="buy-button">
            Mokėti dabar
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>