<div class="form-cnt d-block" style="padding: 10px 30px;">
  <div class="">
    <h4 class="dark-text text-left pl-md-0 pl-3 log-tlt">Registracija</h4>
  </div>
  <form [formGroup]="onRegistrationForm" method="post" action="" class="" style="margin-top: 10px">
    <div>
      <div class="form-group">
        <label>
          <h6 class="dark-text f-20 weaker">El. paštas</h6>
        </label>
        <div class="form-input">
          <span class="input-group-txt"><img src="assets/img/gmail.svg" alt="mail-icon" /></span>
          <input formControlName="email" type="email" name="email" id="email" class="form-control email-input textIn"
            placeholder="El. paštas" />
        </div>
      </div>

      <div class="row mr-0">
        <div class="col-12 col-md-6 pr-0">
          <div class="form-group">
            <label>
              <h6 class="dark-text f-20 weaker">Vardas</h6>
            </label>
            <div class="form-input">
              <span class="input-group-txt"><img src="./../../assets/img/account-c.svg" alt="img" /></span>
              <input formControlName="firstName" type="text" name="f-name" id="f-name"
                class="form-control email-input textIn" placeholder="Vardenis" />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 pr-0">
          <div class="form-group">
            <label>
              <h6 class="dark-text f-20 weaker">Pavardenis</h6>
            </label>
            <div class="form-input">
              <input formControlName="lastName" type="text" name="l-name" id="l-name"
                class="form-control last-name textIn" placeholder="Pavardė" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mr-0">
        <div class="col-12 col-md-6 pr-0">
          <div class="form-group">
            <label>
              <h6 class="dark-text f-20 weaker">Slaptažodis</h6>
            </label>
            <div class="form-input">
              <span class="input-group-txt"><img src="./../../assets/img/lock.svg" alt="img" /></span>
              <input formControlName="password" type="password" name="password" id="password"
                class="form-control email-input textIn" placeholder="*********" />
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 pr-0">
          <div class="form-group">
            <label>
              <h6 class="dark-text f-20 weaker">Pakartokite slaptažodį</h6>
            </label>
            <div class="form-input">
              <span class="input-group-txt"><img src="./../../assets/img/lock.svg" alt="img" /></span>
              <input formControlName="confirm_password" type="password" name="password" id="confirm-password"
                class="form-control email-input textIn" placeholder="*********" />
            </div>
          </div>
        </div>
        <p ion-text class="text04" *ngIf="!matched">
          <ion-label style="font-size: 12px; color: red">
            Password not matched!
          </ion-label>
        </p>
      </div>
      <div class="form-group pt-2">
        <label class="ctm-container">
          Sutinku su
          <a [routerLink]="['/terms-conditions']" style="cursor: pointer; color: #6a7bff"
            class="T_underLine">taisyklėmis</a>
          <input formControlName="terms" type="checkbox" />
          <span class="checkmark checkIn"></span>
        </label>
        <p ion-text class="text04" *ngIf="notAccepted">
          <ion-label style="font-size: 12px; color: red">
            Please accept terms and conditions.
          </ion-label>
        </p>
      </div>
      <div class="form-group">
        <div class="no-ac">
          Jau turi paskyrą?
          <a (click)="navback()" style="color: #6a7bff; cursor: pointer" class="T_underLine">Prisijungti</a>
        </div>
      </div>
      <div class="row mt-4 text-center">
        <div class="col-12">
          <button (click)="registration()" type="submit" id="login_submit" class="btn ctm-btn log-reg-btn btnHovr">
            Registruotis
          </button>
        </div>
      </div>
      <div class="row mt-4 text-center mr-0">
        <div class="col-12 pr-0 mb-2">
          <button (click)="userLoginService.loginWithGmail()" class="btn ctm-btn w-100 btnHovr google-btn">
            <ion-icon name="logo-google"></ion-icon>
            Google
          </button>
        </div>
        <!-- <div class="col-12 pr-0">
          <button (click)="userLoginService.loginWithFacebook()" class="btn ctm-btn w-100 btnHovr fb-btn">
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </button>
        </div> -->
      </div>
    </div>
  </form>
</div>