<ion-content>
  <ion-row>
    <ion-col size="4">
      <ion-row style=" height: 100px;">
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col style="padding: 0px; height: 50px;" class="d-flex justify-content-end">
          <img src="https://storage.googleapis.com/furniin-d393f.appspot.com/subcategories/U6jSt5LBGn2jZfVtsf2Q.png"
            alt="image" style=" height: 100px;">
        </ion-col>
      </ion-row>
      <ion-row style=" height: 100px;">
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col style="padding: 0px; " class="d-flex justify-content-end">
          <img src="https://storage.googleapis.com/furniin-d393f.appspot.com/subcategories/U6jSt5LBGn2jZfVtsf2Q.png"
            alt="image" style=" height: 100px; margin-top: 2px" class="align-self-end">
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="4">
      <div class="image-wrapper">
        <div class="review-image"
          style="background-image: url('https://storage.googleapis.com/furniin-d393f.appspot.com/product_photos/lucduI5syaMFOntVOGuPOjSpCx33_product_photo_1618859748560.webp');">
        </div>
      </div>
      <ion-row>
        <ion-col size="6">
          <div class="d-flex justify-content-between">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
        </ion-col>
        <ion-col size="6" class="d-flex align-items-center">
          <button type="button" class="folder-button"
            style="display: flex; justify-content: center; align-items: center; background: #6A7BFF;">
            <ion-icon name="chatbox-ellipses-outline" style="font-size: 22px;" class="pl-1 pr-3 text-white"></ion-icon>
            Gyva konsultacija
          </button>
        </ion-col>
      </ion-row>

      <div class="container mt-1">
        <ion-row class="d-flex justify-content-center">
          <ion-col size="4.5" class="d-flex flex-column align-items-center">
            <span class="medioum-text " style="background: #ebebeb; padding: 2px;">Ismatavimai /</span>
          </ion-col>
          <ion-col size="3.5" class="d-flex flex-column align-items-center">
            <span class="medioum-text" style="background: #75BE16; padding: 2px;">spalvos /</span>
          </ion-col>
          <ion-col size="4" class="d-flex flex-column align-items-center">
            <span class="medioum-text" style="background: #E11B3F; padding: 2px;">savybes</span>
          </ion-col>
        </ion-row>
      </div>
      <div style="height: .5px; width: 100%; background-color: #c4c4c4;" class="mt-1"></div>

      <div class="container">
        <ion-row class="d-flex justify-content-center mt-1">
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <span class="small-text">Plotis</span>
          </ion-col>
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <span class="small-text">1234</span>
          </ion-col>
        </ion-row>
        <div style="height: .5px; width: 100%; background-color: #c4c4c4;;"></div>

        <ion-row class="d-flex justify-content-center mt-1">
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <span class="small-text">Ilgis</span>
          </ion-col>
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <span class="small-text">1234</span>
          </ion-col>
        </ion-row>
        <div style="height: 1px; width: 100%; background-color: #c4c4c4;;"></div>

        <ion-row class="d-flex justify-content-center mt-1">
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <span class="small-text">Dydis</span>
          </ion-col>
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <ion-row class="small-text">M</ion-row>
            <ion-row class="small-text">S</ion-row>
          </ion-col>
        </ion-row>
        <div style="height: .5px; width: 100%; background-color: #c4c4c4;;"></div>

        <ion-row class="d-flex justify-content-center mt-1">
          <ion-col size="6" class="d-flex flex-column align-items-center">
            <span class="small-text">Hire</span>
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col size="3"></ion-col>
              <ion-col size="6" style="background: #6A7BFF; font-size: small; color: #fff;">
                <ion-row>
                  <ion-col>45</ion-col>
                  <ion-col style="text-align: end;">XL</ion-col>
                </ion-row>
                <div style="height: 1px; width: 100%; background-color: #c4c4c4;;"></div>
                <ion-row>
                  <ion-col>40</ion-col>
                  <ion-col style="text-align: end;">M</ion-col>
                </ion-row>
                <div style="height: 1px; width: 100%; background-color: #c4c4c4;;"></div>
                <ion-row>
                  <ion-col>38</ion-col>
                  <ion-col style="text-align: end;">S</ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6"></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div style="height: 2px; width: 100%; background-color: #D9D9D9;" class="mt-0"></div>

      <ion-row class="d-flex justify-content-center mt-0">
        <ion-col size="6" class="d-flex flex-column align-items-center">
          <span class="small-text">Pasirinkti</span>
        </ion-col>
        <ion-col size="6" class="d-flex flex-column align-items-center">
          <ion-row class="small-text">Black</ion-row>
          <ion-row class="small-text">White</ion-row>
          <ion-row class="small-text">Blue</ion-row>


        </ion-col>
      </ion-row>

    </ion-col>
    <ion-col size="4">
      <div class="d-flex detail-header">
        <div class="d-flex">
          <img class="avatar mr-2"
            src="https://storage.googleapis.com/furniin-d393f.appspot.com/brand_logos/lucduI5syaMFOntVOGuPOjSpCx33.webp?1637861728922"
            alt="avatar image">
          <div class="d-flex flex-column">
            <span class=" d-flex ">Deluxe Baldai
              <ion-icon name="checkmark-circle-outline" style="font-size: 20px; color: rgb(48, 72, 177);"></ion-icon>
            </span>
            <span style="font-size: 12px;">Gamintojas * 7d</span>
          </div>
        </div>
        <!-- <span>Follow</span> -->
        <ion-button expand="block" fill="clear" shape="round" style="padding: 0px;
        margin: 0px; background: #75BE16; width: 20%; height: 2em; color: black;">
          Follow
        </ion-button>
        <span style="color:red ;" class="d-flex align-items-center">
          <ion-icon name="share-social-outline" style="font-size: 20px;"></ion-icon>Dalintis Chat
        </span>
        <span></span>
      </div>
      <div style="height: .5px; background: #ebebeb;" class="mt-1"></div>
      <div class="mt-3 d-flex">
        <span class="pl-4 medioum-text">Komoda versus / Kodas 2345678</span>
        <span class="d-flex align-items-center">
          <ion-icon name="thumbs-up-outline" class="pl-4 pr-1 small-text" style="color: pink;"></ion-icon> 222
        </span>
      </div>
      <div class="container pt-3">
        <ion-row>
          <ion-col size="4" class="price d-flex align-items-center">
            <ion-icon name="logo-euro" class="price mr-2"></ion-icon>
            <span class="price"> 0.95</span>
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <ion-col>
                <ion-row class="footer-buttons">
                  <button type="button" class="cart-button pl-4"
                    style="display: flex; justify-content: start; align-items: center;">

                    <ion-icon name="cart-outline" style="font-size: 25px; color:black; margin-right: 4px;"></ion-icon>

                  </button>
                  <button type="button" class="done-button">
                  </button>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col class="info">
            <ion-row class="small-text">Preke sandelye yra - <span class="text-danger">nera</span></ion-row>
            <ion-row class="small-text">Estimated delevery</ion-row>
            <ion-row class="small-text">on 9 september</ion-row>
          </ion-col>
        </ion-row>
      </div>
      <div class="container mt-2">
        <ion-row>
          <button type="button" class="folder-button"
            style="display: flex; justify-content: center; align-items: center;">
            <ion-icon name="folder-outline" style="font-size: 22px;" class="pl-1 pr-4 text-white"></ion-icon>
            Daugiau prekiu sio pardavejo
          </button>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>