.user-profile {
  border: 0.5px solid #d9d9d9;
  padding: 5px 10px;
}

.user-avater {
  width: 64px;
  height: 64px !important;
  border-radius: 50%;
}
.header-left-image {
  height: 10em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
}
