<ion-content>
  <div class="d-flex flex-column" style="height: 100%">
    <div class="d-flex justify-content-between mt-2">
      <button class="bg-transparent" style="padding: 8px 22px; font-size: 18px">
        Back
      </button>
      <button style="background: #ffc700; padding: 8px 22px">Follow</button>
    </div>
    <!-- user profile start -->
    <div class=" mt-2">
      <div class="user-profile d-flex">
        <div class="d-flex align-items-center">
          <img class="user-avater mr-4"
            src="https://storage.googleapis.com/furniin-d393f.appspot.com/brand_logos/lucduI5syaMFOntVOGuPOjSpCx33.webp?1637861728922" />
        </div>
        <div class="user-details" style="width: 95%">
          <div class="d-flex justify-content-between pl-1">
            <label class="mb-1 h6 font-weight-bold">Gerda Barauskaite</label>
            <label for="">Gamintojas</label>
          </div>
          <p class="font-weight-bolder h5">Titles food for AS</p>
        </div>
      </div>
    </div>
    <!-- user profile end -->
    <!-- vido content start-->
    <ion-row class="mt-2 container">
      <ion-col size="8" class="p-0">
        <div class="header-left-image" style="
            background-image: url('https://media.gettyimages.com/photos/smiling-female-entrepreneur-outside-auditorium-picture-id1166085423');
          "></div>
      </ion-col>
      <ion-col size="4" class="d-flex flex-column">
        <div class="d-flex justify-content-end">
          <span class="d-flex align-items-center font-weight-bold">
            <ion-icon name="thumbs-up" style="color: #ffb800; font-size: 27px" class="pr-1"></ion-icon>
            136
          </span>
        </div>
        <div class="medioum-text d-flex justify-content-center font-weight-bold" style="flex: 1">
          <span style="align-self: center; text-align: center">Lorem ipsum dolor sit.</span>
        </div>
      </ion-col>
    </ion-row>
    <!-- vido content -->
    <ion-row class="mt-2 container">
      <ion-col size="8" class="p-0">
        <div class="header-left-image" style="
            background-image: url('https://media.gettyimages.com/photos/smiling-female-entrepreneur-outside-auditorium-picture-id1166085423');
          "></div>
      </ion-col>
      <ion-col size="4" class="d-flex flex-column">
        <div class="d-flex justify-content-end">
          <span class="d-flex align-items-center font-weight-bold">
            <ion-icon name="thumbs-up" style="color: #ffb800; font-size: 27px" class="pr-1"></ion-icon>
            136
          </span>
        </div>
        <div class="medioum-text d-flex justify-content-center font-weight-bold" style="flex: 1">
          <span style="align-self: center; text-align: center">Lorem ipsum dolor sit.</span>
        </div>
      </ion-col>
    </ion-row>
    <!-- vido content -->
    <ion-row class="mt-2 container">
      <ion-col size="8" class="p-0">
        <div class="header-left-image" style="
            background-image: url('https://media.gettyimages.com/photos/smiling-female-entrepreneur-outside-auditorium-picture-id1166085423');
          "></div>
      </ion-col>
      <ion-col size="4" class="d-flex flex-column">
        <div class="d-flex justify-content-end">
          <span class="d-flex align-items-center font-weight-bold">
            <ion-icon name="thumbs-up" style="color: #ffb800; font-size: 27px" class="pr-1"></ion-icon>
            136
          </span>
        </div>
        <div class="medioum-text d-flex justify-content-center font-weight-bold" style="flex: 1">
          <span style="align-self: center; text-align: center">Lorem ipsum dolor sit.</span>
        </div>
      </ion-col>
    </ion-row>
    <!-- vido content -->
    <ion-row class="mt-2 container">
      <ion-col size="8" class="p-0">
        <div class="header-left-image" style="
            background-image: url('https://media.gettyimages.com/photos/smiling-female-entrepreneur-outside-auditorium-picture-id1166085423');
          "></div>
      </ion-col>
      <ion-col size="4" class="d-flex flex-column">
        <div class="d-flex justify-content-end">
          <span class="d-flex align-items-center font-weight-bold">
            <ion-icon name="thumbs-up" style="color: #ffb800; font-size: 27px" class="pr-1"></ion-icon>
            136
          </span>
        </div>
        <div class="medioum-text d-flex justify-content-center font-weight-bold" style="flex: 1">
          <span style="align-self: center; text-align: center">Lorem ipsum dolor sit.</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>