<section class="blog-section advertisement-section purchase-section p-0 m-0 w-100 mt-2">
  <div class="col-12 column-mid-skeleton p-0 mb-4" style="max-width: 100%;flex: 0 0 100%;">
    <div class="blog-cnt">
      <div class="blog single-blog2 m-0">
        <div class="pro-cnt user-cnt">
          <div class="pro-img"></div>
          <div class="pro-name-link">
            <div class="pro-name">
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </div>
            <div class="pro-link">
              <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
            </div>
          </div>
          <ion-skeleton-text animated style="width: 15%;" class="home-pro-btn">

          </ion-skeleton-text>
        </div>
        <div class="without-log-blog-txt-cnt">
          <ion-skeleton-text animated style="width:45%" class="blog-tlt pb-1">

          </ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%;" class="blog-txt">

          </ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%;" class="blog-txt">

          </ion-skeleton-text>
          <div class="blog-price mt-3">
            <button class="btn ctm-btn cart-btn"></button>
          </div>
        </div>
        <div class="blog-img-all position-relative mt-3">
          <div class="row m-0">
            <div class="col-12 p-0">
              <div class="blog-img-p">

              </div>
            </div>
          </div>
        </div>

        <div class="blog-price add-all-btn px-0">
          <span></span>
          <button class="btn ctm-btn cart-btn"></button>
        </div>
        <div class="comment-cnt-all pt-3">
          <div class="write-comment-box">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"></span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
              <div class="input-group-append">
                <span class="input-group-text"><img class="cover" src="./../../assets/img/circle-b.svg"
                    alt="img" /></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>