.reset-body {
  height: 200px;
  padding: 20px;
  .close {
    position: absolute;
    right: 23px;
    top: 15px;
    z-index: 11;
  }
  .form-cnt {
    padding: 50px;
    border: 0;
    .log-tlt {
      margin-bottom: 30px;
    }
    .form-group {
      margin-bottom: 25px;
    }
  }
}
