<ion-content>
	<div class="modal-body reset-body p-0">
		<button type="button" (click)="close()" class="close remove_icon" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="form-cnt">
			<div>
				<h4 class="log-tlt">Slaptažodžio priminimas</h4>
			</div>
			<form method="post" action="" >
				<div class="form-group">
					<label><h6 class="dark-text f-20 weaker">El. paštas</h6></label>
					<div class="form-input">
						<span class="input-group-txt"><img src="./../../assets/img/gmail.svg" alt="img"></span>
						<input type="email" [(ngModel)]="email" name="email" id="email" class="form-control email-input textIn" placeholder="Vardenis@gmail.com">
					</div>
				</div> 
				<div class="text-center">
					<button (click)="send()" type="submit" id="login_submit" class="btn ctm-btn log-reg-btn btnNav">Atstatyti</button>
				</div>
				
			</form>
		</div>
		<div class="text-center" style="margin-top: 10px;">
			<ion-card *ngIf="status && status !==''"  class="ion-text-center" style="max-width: 350px;display: flex;justify-content: center;align-content: center;align-items: center;" [color]="isSuccess? 'success':'danger'" style="height: 35px;">{{status}}</ion-card>
		</div>
	</div>
</ion-content>
