@import "./../../../../../theme/mixins/mixins";
@import "./../../../../../theme/pages/categories";
.close {
  position: absolute;
  @include top-p-map($categories-close-top);
  right: 15px;
  z-index: 999;
}
.custom-modal-body {
  @include padding-p-map($categories-modal-body-padding);
  @include overflow-y-p-map($categories-modal-body-overflow-y);
  .reg-step-4 {
    .form-cnt {
      padding: 25px 0;
      margin-bottom: 0;
    }
  }
}

ion-input {
  --padding-start: 15px;
}
