<ion-header>
  <ion-toolbar>
    <ion-title>loggedin-accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="title text-center text-primary" style="margin: .5rem 0;">Gootweet</p>
  </div>
  <div style="height: .5px; background-color: #ebebeb;"></div>

  <ion-row class="container mt-2">
    <p class="text-reg">Pasirinkite Paskyra :</p>
  </ion-row>
  <div class="container">
    <ion-row style="border: .2px solid #ebebeb;">
      <ion-col size="10">
        <img src="https://s3.amazonaws.com/images.wpr.com/flag-pages/png100/lt.png" alt="user profile"
          class="user-profile-avater">
        <span class="text-danger label">

          <label for="" class="text-white">2</label>
        </span>
        <span class="pl-2">Giedrius Mizgiris</span>
      </ion-col>
      <ion-col size="2" class="d-flex justify-content-center align-items-center">
        <ion-icon name="settings-outline" style="font-size: 25px;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row style="border: .2px solid #ebebeb; border-top: 0px;">
      <ion-col size="12" class="d-flex  align-items-center">
        <span class="user-profile-avater content-center">
          <ion-icon name="add-outline" style="font-size: 25px;"></ion-icon>
        </span>
        <span class="pl-2">Log into another account</span>
      </ion-col>
    </ion-row>
    <ion-row style="border: .2px solid #ebebeb; border-top: 0px;">
      <ion-col size="12" class="d-flex  align-items-center ">
        <span class="user-profile-avater content-center">
          <ion-icon name="search-outline" style="font-size: 25px;"></ion-icon>
        </span>
        <span class="pl-2">Suraskite savo paskyra</span>
      </ion-col>
    </ion-row>
  </div>

</ion-content>