<section class="two-div-section-d mp-0">
    <div class="row m-0">
        <div class="col-12 column-left pl-0 d-none d-md-block">
            <div class="left-side-bar">
                <div class="left-side-cnt">
                    <div class="importation-btn">
                        <h4 class="ul-tlt">Importavimas</h4>
                        <button class="btn ctm-btn pro-btn w-100 d-none">
                            Importuoti XML
                        </button>
                        <button class="btn ctm-btn pro-btn w-100 btnNav">API surišimas</button>
                        <button class="btn ctm-btn pro-btn w-100 d-none">
                            Įkelti XML prieigos raktą
                        </button>
                    </div>
                </div>
                <div class="cat-list pt-0">
                    <span class="cat-l">Privatumo politika</span>
                    <span class="cat-l">Taisyklės Kontaktai</span>
                    <span class="cat-l">Pranešti klaidą</span>
                </div>
            </div>
        </div>

        <div class="col-12 column-mid p-0">
            <div class="materials-list-cnt">
                <div class="category-nav">
                    <div class="category-ul mx-3 mx-md-0">
                        <ul class="nav nav-pills mb-4 m-border-0" id="pills-tab" role="tablist">
                            <li (click)="service.selectTab(1)" class="nav-item addAni">
                                <a [class]="service.selectedTab===1? 'nav-link active':'nav-link'"
                                    id="pills-category-tab" data-toggle="pill" role="tab" style="cursor: pointer;"
                                    aria-controls="pills-category" aria-selected="true">Kategorijos</a>
                            </li>
                            <li (click)="service.selectTab(2)" class="nav-item addAni">
                                <a [class]="service.selectedTab===2? 'nav-link active':'nav-link'"
                                    id="pills-sub-category-tab" data-toggle="pill" role="tab" style="cursor: pointer;"
                                    aria-controls="pills-sub-category" aria-selected="false">Sub-kategorijos</a>
                            </li>
                            <li (click)="service.selectTab(3)" class="nav-item addAni">
                                <a [class]="service.selectedTab===3? 'nav-link active':'nav-link'"
                                    id="pills-inner-category-tab" data-toggle="pill" role="tab" style="cursor: pointer;"
                                    aria-controls="pills-inner-category" aria-selected="false">Iner-kategorijos</a>
                            </li>

                            <li class="nav-item li-btn d-none d-md-inline-block">

                                <span class="search-input d-none">
                                    <span class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text"><img src="./../../assets/img/search.svg"
                                                    alt="img" /></span>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Kategorijų paieška" />
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-category" role="tabpanel"
                            aria-labelledby="pills-category-tab">
                            <div class="materials-list-list m-radius-0 m-border-0 mb-0 mb-md-0">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th class="no-th" scope="col">Nr.</th>
                                            <th *ngIf="service.selectedTab==1" scope="col">Kategorija</th>
                                            <th *ngIf="service.selectedTab==2" scope="col">Sub-Kategorija</th>
                                            <th *ngIf="service.selectedTab==3" scope="col">Inner-Kategorija</th>
                                            <th class="d-md-table-cell d-none" scope="col">Data</th>
                                            <!-- <th scope="col">Valdymas</th> -->
                                        </tr>
                                    </thead>
                                    <!-- Category list here      -->
                                    <tbody *ngIf="service.selectedTab === 1">
                                        <tr *ngFor="let c of service?.categoriesForShow; let i = index">
                                            <td *ngIf="c?.products?.length > 0" class="no-th" scope="row">{{'#' + (i +
                                                1)}}</td>
                                            <td *ngIf="c?.products?.length > 0">{{c?.data?.category}}</td>
                                            <td *ngIf="c?.products?.length > 0" class="d-md-table-cell d-none">
                                                {{c?.data?.timestamp?.toDate()
                                                | date:'yyyy-MM-dd'}}</td>

                                        </tr>
                                    </tbody>

                                    <!-- Sub category list here -->
                                    <tbody *ngIf="service.selectedTab === 2">
                                        <tr *ngFor="let sub of service.subcategoriesForShow;let i =index">
                                            <td *ngIf="sub.products.length > 0" class="no-th" scope="row">{{'#' + (i +
                                                1)}}</td>
                                            <td *ngIf="sub.products.length > 0">{{sub?.data?.sub_category}}</td>
                                            <td *ngIf="sub.products.length > 0">
                                                {{sub?.data?.timestamp?.toDate() |date:'yyyy-MM-dd'}}</td>

                                        </tr>
                                    </tbody>

                                    <!-- inner category start here -->
                                    <tbody *ngIf="service.selectedTab === 3">
                                        <tr *ngFor="let inner of service.innercategoriesForShow; let i = index">
                                            <td *ngIf="inner.products.length > 0" class="no-th" scope="row">{{'#' + (i +
                                                1)}}</td>
                                            <td *ngIf="inner.products.length > 0">{{inner?.data?.inner_category}}</td>
                                            <td *ngIf="inner.products.length > 0">
                                                {{inner?.data?.timestamp?.toDate() |date:'yyyy-MM-dd'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>