@import "./../../theme/mixins/mixins";
.chat-section {
  .empty-conversation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(155, 155, 155);
  }
  .chat-top {
    padding: 8px 15px;
  }
}

.unread {
  font-weight: bolder;
  color: rgb(38, 13, 153);
  font-size: 15px;
}
