ion-toolbar {
  --background: #202766;
  ion-title {
    --color: white;
  }
  ion-buttons {
    ion-button {
      --color: white;
    }
  }
}
.uploader-modal {
  --max-width: 500px;
}
.input-group {
  width: 50%;
  aspect-ratio: 1 / 1;
  border: 8px dashed #eaeaea;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .inner-text-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 30px;
    }
    span {
      font-size: 14px;
    }
  }
  input {
    display: none;
  }
}
.input-container {
  width: 100%;
  max-height: 400px;
  gap: 10px;
}

.minimized-header {
  position: fixed;
  bottom: 0px;
  width: 300px;
  right: 0px;
  left: 0px;
  border-radius: 10px;
  ion-toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.custom-modal {
  position: absolute;
  bottom: 0px;
  height: 40px;
}

:host {
  .modal-sheet {
    --height: 100% !important;
  }
}
