.image-video-upload {
  background: #fff;
  width: 100%;
  padding: 20px;
  margin-left: 0;
  .u-reg-arba {
    margin: 2px 0 10px;
    font-weight: 400;
  }
  .u-reg-txt {
    text-align: left;
  }
  .cart-btn {
    padding: 7px 25px;
    font-size: 14px;
  }
}
