<ion-header>
  <ion-toolbar>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="my-container">
    <!-- <div class="sized-box"></div>
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <span class="title-text">Ship From</span>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="ship-sec">
      <div class="ship-content">
        <span>Lithuania</span>
      </div>
      <div class="ship-content">
        <span>Turkey</span>
      </div>
    </div>
    <div class="sized-box"></div> -->
    <div class="sized-box"></div>
    <!-- special service and ratings section -->
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <span class="title-text">Special Service & Ratings</span>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="ship-sec">
      <div class="ship-content">
        <span>Free Shiping</span>
      </div>
      <div class="ship-content">
        <span>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </span>
      </div>
    </div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <!-- price filter section -->
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <span class="title-text">Price</span>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="ship-sec">
      <div class="min-max-wraper">
        <input type="text" placeholder="Min" class="min-max" />
      </div>
      <span class="chosen-text"> - </span>
      <div class="min-max-wraper">
        <input type="text" placeholder="Max" class="min-max" />
      </div>
    </div>
    <div style="height: 8px"></div>
    <div class="ship-sec">
      <div class="discount-chosen">
        <p class="range-text">1.01-2.67</p>
        <p class="chosen-text">chosen by 42%</p>
      </div>
      <div class="discount-chosen">
        <p class="range-text">2.67-3.57</p>
        <p class="chosen-text">chosen by 30%</p>
      </div>
      <div class="discount-chosen">
        <p class="range-text">4.57-4.90</p>
        <p class="chosen-text">chosen by 15%</p>
      </div>
    </div>
    <div class="sized-box"></div>
    <div class="sized-box"></div>
    <!-- color section -->
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <span class="title-text">Color</span>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col></ion-col>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="ship-sec">
      <div class="ship-content">
        <span>Red</span>
      </div>
      <div class="ship-content">
        <span>Multi</span>
      </div>
    </div>

    <!-- footer -->

    <ion-row class="footer">
      <ion-col>
        <ion-row class="footer-buttons">
          <button type="button" class="reset-button">RESET</button>
          <button type="button" class="done-button">Done</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
