<div class="blog-cnt w-100">
    <div class="blog apie-blog">
        <div class="tlt tlt1 pro-count">
            <!--Įvertinimai
            <span><ion-icon name="star"></ion-icon> 4.7</span>-->
            Ratings Data will be here soon...
        </div>
        <!--<div class="apie-blog-all">
                <div *ngFor="let i of [1,2]" class="apie-blog-cnt">
                    <div class="pro-cnt user-cnt">
                        <div class="pro-img">
                            <img class="cover" src="./../../assets/img/bg.png" alt="img"/>
                        </div>
                        <div class="pro-name-link">
                            <div button class="pro-name">Jonas Gabajūnas
                                <span class="rating-star">
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-half"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </span>
                            </div>
                            <div class="pro-link">
                                <span>3h</span>
                            </div>
                        </div>
                    </div>
                    <div class="apie-cnt p-0">
                        <div class="apie-txt">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                                Donec vulputate eleifend massa sit amet laoreet. Praesent
                                auctor,
                                augue a malesuada volutpat, nisi nulla imperdiet lacus, a
                                consequat
                                urna lorem ac urna. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Donec vulputate eleifend massa sit amet
                                laoreet.
                                Praesent auctor, augue a malesuada volutpat, nisi nulla
                                imperdiet
                                lacus, a consequat urna lorem ac urna.</p>
                        </div>
                    </div>
                    <div class="report-txt text-right"><span>Pranešti</span></div>
                </div>
            </div>
            <div class="text-center ">
                <button class="btn ctm-btn pro-btn position-static"><i
                        class="fas fa-chevron-down"></i> Išskleisti
                </button>
            </div>-->
    </div>
</div>