<ion-content>
  <div class="main-wrapper">
    <div class="log-reg">
      <div class="log-reg-cnt log-reg-cnt-1" style="margin: 0% auto 5%;">
        <div class="row m-0">
          <div class="col-md-6 p-0">
            <app-user-register></app-user-register>
          </div>
          <div class="col-md-6 p-0">
            <div class="reg-log-img">
              <app-cloudinary-player [maxHeight]="'608px'"></app-cloudinary-player>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>