:root {
  --lightGray: #efeee6;
  --blue: #21427e;
}
ion-content {
  --keyboard-offset: 0px !important;
}

.title {
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.my-container {
  padding: 0px 0px;
  height: 100%;

  .sized-box {
    height: 30px;
  }
}

.right-panel {
  overflow-y: auto;
  height: 100%;
  padding: 0px;
}

.selected-row {
  background-color: #cccccc;
}

.category-wrapper {
  height: calc(100% - 40px);
}

.sidebar {
  // background-color: var(--lightGray);
  background-color: #efeee6;
  height: 100%;
  overflow-y: auto;
}
.ripple-parent {
  position: relative;
}
.category-item {
  padding: 12px 0px;
  font-size: 14px;
  display: flex;
  justify-content: center;

  .cat-img {
    width: 60px;
    height: 60px;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}

.onTabCategory {
  background-color: #fff;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.img {
  width: 100%;
}

.products ion-label {
  margin-top: 9px;
  text-align: center;
  clear: both;
  display: inline-block;
  overflow: hidden;
  // white-space: nowrap;
}
