<ion-content>
  <div class="main-wrapper">
    <section class="blog-section p-0">
      <div class="row m-0">
        <div class="col-12 w-100 p-0">
          <div class="left-side-bar" id="leftBar">
            <div class="left-side-cnt">
              <div class="header-section">
                <nav class="navbar navbar-expand-lg navbar-light pt-0 pb-4">
                  <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                  >
                    <ul class="navbar-nav mr-auto justify-content-start">
                      <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                          <div class="ctm-select" ctm-slt-n="cat_name">
                            <div class="ctm-select-txt pad-l-10">
                              <span class="select-icon"
                                ><img
                                  src="./../../assets/img/language.svg"
                                  alt="img"
                              /></span>
                              <span class="select-txt" id="category">LT</span>
                              <span class="select-arr">
                                <ion-icon name="chevron-down"></ion-icon>
                              </span>
                            </div>
                            <div class="ctm-option-box">
                              <div class="ctm-option">EN</div>
                              <div class="ctm-option">LI</div>
                              <div class="ctm-option">RU</div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <span class="close-m"
                      ><img src="./../../assets/img/close.svg" alt="img"
                    /></span>
                  </div>
                </nav>
                <div class="search-input w-100 mb-3">
                  <div class="input-group mm-w-100">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><img src="./../../assets/img/search.svg" alt="img"
                      /></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Paieška"
                    />
                    <!-- <div class="input-group-append">
											<span class="input-group-text"><img src="./../../assets/img/tune.svg"
													alt="img" /></span>
										</div> -->
                  </div>
                </div>
              </div>
              <div class="menu-cnt menu-cnt-n">
                <div class="pro-cnt mb-3">
                  <div class="pro-img">
                    <img
                      class="cover"
                      src="./../../assets/img/bg-login.png"
                      alt="img"
                    />
                  </div>
                  <div class="pro-name-link">
                    <div class="pro-name">name</div>
                    <div
                      routerLink="/user-settings"
                      style="cursor: pointer"
                      class="pro-link"
                    >
                      <a>My Profile</a>
                    </div>
                  </div>
                </div>
                <div class="pro-ul">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link pl-0"
                        ><img src="./../../assets/img/chat-b.svg" alt="img" />
                        Pokalbiai (2)</a
                      >
                    </li>
                    <li
                      style="cursor: pointer"
                      routerLink="/reviews"
                      class="nav-item"
                    >
                      <a class="nav-link pl-0"
                        ><img src="./../../assets/img/view.svg" alt="img" />
                        Peržiūros</a
                      >
                    </li>
                    <li
                      style="cursor: pointer"
                      routerLink="/my-collection"
                      class="nav-item"
                    >
                      <a class="nav-link pl-0"
                        ><img src="./../../assets/img/dns.svg" alt="img" /> Mano
                        kolekcija</a
                      >
                    </li>
                    <li
                      style="cursor: pointer"
                      routerLink="/tracking-manufacturers"
                      class="nav-item"
                    >
                      <a class="nav-link pl-0"
                        ><img src="./../../assets/img/verified.svg" alt="img" />
                        Sekami gamintojai</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0"
                        ><img src="./../../assets/img/history.png" alt="img" />
                        Pirkinių istorija</a
                      >
                    </li>
                    <li
                      style="cursor: pointer"
                      routerLink="/discounts"
                      class="nav-item"
                    >
                      <a class="nav-link pl-0 ex-link"
                        >Lojalumo programa
                        <img
                          src="./../../assets/img/new-releases.svg"
                          alt="img"
                      /></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Rekomenduok draugui</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#"
                        >Pakviesk prekinį ženklą</a
                      >
                    </li>
                    <li class="nav-item d-none">
                      <a class="nav-link pl-0 cart-link" href="#"
                        ><img
                          src="./../../assets/img/shopping-cart.svg"
                          alt="img"
                        />
                        Krepšelis (0)</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="pro-ul">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link pl-0 dis-link" href="#">Atsijungti</a>
                  </li>
                </ul>
              </div>
              <div class="cat-list">
                <span class="cat-l">Privatumo politika</span>
                <span class="cat-l">Taisyklės Kontaktai</span>
                <span class="cat-l">Pranešti klaidą</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</ion-content>
